<!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="getDate($event)">
  <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker> -->

<!-- 
<div style="padding: 10px">
  <gijgo-datepicker #datepicker [configuration]="configuration"></gijgo-datepicker><br/>
  Selected Date: {{date}} <br/><br/>
  <button class="btn btn-default" (click)="setValue()">Set New Value</button><br/><br/>
  Event Log: <p>{{eventLog}}</p>
</div> -->