


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
	<h4 class="card-title mt-2">Sign up</h4>
</header>
<article class="card-body">
<form novalidate *ngIf="employeeForm" [formGroup]="employeeForm" (ngSubmit)="CreateUpdateEmployee()">
	<!-- <div hidden formControlName="Id"></div> -->
	<div class="form-row">
		<div class="col form-group">
			<label for="FirstName">First name </label>   
      		<input type="text" class="form-control" placeholder="" formControlName="FirstName">
      <div class="alert alert-danger" *ngIf="employeeForm.get('FirstName').touched && employeeForm.get('FirstName').invalid">
          <div *ngIf="employeeForm.get('FirstName').hasError('required')">Required!</div>
        </div>
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label for="LastName">Last name</label>
				<input type="text" class="form-control" placeholder="" formControlName="LastName">
				<div class="alert alert-danger" *ngIf="employeeForm.get('LastName').touched && employeeForm.get('LastName').invalid">
          <div *ngIf="employeeForm.get('LastName').hasError('required')">Required!</div>
        </div>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label for="Email">Email address</label>
		<input type="email" class="form-control" placeholder="" formControlName="Email">
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
		<div class="alert alert-danger" *ngIf="employeeForm.get('Email').touched && employeeForm.get('Email').invalid">
			<div *ngIf="employeeForm.get('Email').hasError('required')">Required!</div>
			<div *ngIf="employeeForm.get('Email').hasError('email') && !employeeForm.get('Email').hasError('required')">Please Enter Valid Email</div>
		</div>
	</div> <!-- form-group end.// -->

	<div class="form-group">
		<label for="Contact">Contact</label>
		<input type="text" class="form-control" placeholder="" formControlName="Contact">
		<small class="form-text text-muted">We'll never share your contact with anyone else.</small>
		<div class="alert alert-danger" *ngIf="employeeForm.get('Contact').touched && employeeForm.get('Contact').invalid">
			
			<div *ngIf="employeeForm.get('Contact').hasError('minlength')">Min 10 Digits contact required</div>
			<div *ngIf="employeeForm.get('Contact').hasError('maxlength')">Max 10 Digits contact required</div>
			<div *ngIf="employeeForm.get('Contact').hasError('required')">Required!</div>
		</div>
	</div> <!-- form-group end.// -->

	<div class="form-group">
			<label for="Gender">Gender</label>
			<br>
			<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" formControlName="Gender" value="Male">
		  <span class="form-check-label"> Male </span>
		</label>
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" formControlName="Gender" value="Female">
		  <span class="form-check-label"> Female</span>
		</label>
	
		<div class="alert alert-danger" *ngIf="employeeForm.get('Gender').touched && employeeForm.get('Gender').invalid">
			<div *ngIf="employeeForm.get('Gender').hasError('required')">Required!</div>
		</div>
	</div> <!-- form-group end.// -->
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>Country</label>
		  <select class="form-control" formControlName="Country" (change)="OnCountryChange($event.target.value)">
				<option> Choose...</option>
				<option *ngFor="let country of countries" value="{{country.Id}}">{{country.Name}}</option>
			</select>
			<div class="alert alert-danger" *ngIf="employeeForm.get('Country').touched && employeeForm.get('Country').invalid">
					<div *ngIf="employeeForm.get('Country').hasError('required')">Required!</div>
				</div>
		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
		  <label>State</label>
		  <select class="form-control" formControlName="State" (change)="onStateChange($event.target.value)">
		    <option> Choose...</option>
				<option *ngFor="let country of states" value="{{country.Id}}">{{country.Name}}</option>
			</select>
			<div class="alert alert-danger" *ngIf="employeeForm.get('State').touched && employeeForm.get('State').invalid">
					<div *ngIf="employeeForm.get('State').hasError('required')">Required!</div>
				</div>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->

	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>City</label>
		  <select class="form-control" formControlName="City">
		    <option> Choose...</option>
				<option *ngFor="let country of cities" value="{{country.Id}}">{{country.Name}}</option>
			</select>
			<div class="alert alert-danger" *ngIf="employeeForm.get('City').touched && employeeForm.get('City').invalid">
					<div *ngIf="employeeForm.get('City').hasError('required')">Required!</div>
				</div>
		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
		  <label>Department</label>
		  <select class="form-control" formControlName="Department">
		    <option> Choose...</option>
		    <option *ngFor="let country of departments" value="{{country.Id}}">{{country.Name}}</option>
			</select>
			<div class="alert alert-danger" *ngIf="employeeForm.get('Department').touched && employeeForm.get('Department').invalid">
					<div *ngIf="employeeForm.get('Department').hasError('required')">Required!</div>
				</div>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->

	<div class="form-row">
			<div class="form-group col-sm-6">
					<label>Date Of Birth</label>
					<!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="DateOfBirth">
  					<mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker> -->
						<input type="text" class="form-control" 
						placeholder="Choose a date" bsDatepicker 
						formControlName="DateOfBirth" />

				
					<div class="alert alert-danger" *ngIf="employeeForm.get('DateOfBirth').touched && employeeForm.get('DateOfBirth').invalid">
							<div *ngIf="employeeForm.get('DateOfBirth').hasError('required')">Required!</div>
						</div>
				</div> <!-- form-group end.// -->
				<div class="form-group col-sm-6">
						<label>Date Of Joining</label>
						<!-- <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="DateOfJoining">
  					<mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker> -->
						<input type="text" class="form-control" 
						placeholder="Choose a date" bsDatepicker 
						formControlName="DateOfJoining" />
						<div class="alert alert-danger" *ngIf="employeeForm.get('DateOfJoining').touched && employeeForm.get('DateOfJoining').invalid">
								<div *ngIf="employeeForm.get('DateOfJoining').hasError('required')">Required!</div>
							</div>
					</div> <!-- form-group end.// -->
	
		</div> <!-- form-row.// -->


	<div class="form-row">
			<div class="form-group col-sm-6">
					<label>Role</label>
					<select class="form-control" formControlName="Role">
						<option> Choose...</option>
						<option *ngFor="let country of roles" value="{{country.Id}}">{{country.Name}}</option>
					</select>
					<div class="alert alert-danger" *ngIf="employeeForm.get('Role').touched && employeeForm.get('Role').invalid">
					<div class="alert alert-danger" *ngIf="employeeForm.get('Role').touched && employeeForm.get('Role').invalid">
						<div *ngIf="employeeForm.get('Role').hasError('required')">Required!</div>
						</div>
				</div> 
			</div><!-- form-group end.// -->
				<div class="form-group col-sm-6">
						<label>IsActive</label>
						<div>
						<ui-switch formControlName="IsActive"></ui-switch>
					</div>
				</div> <!-- form-group end.// -->
	
	</div> <!-- form-row.// -->



	
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="employeeForm.invalid"> {{buttonText}}  </button>
    </div> <!-- form-group// -->      
    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
</form>
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


<div *ngIf="employeeForm">{{employeeForm.value | json}}</div>